
/*--Description: Intégration d'une maquette avec bootstrap
Auteur: Jessica Anschultz et Jonathan Guillou
Date: Semaine 24--*/

html{
	width: 100%;
}

body{
	background-size: cover;
	margin-left: 0px;
}
.row {
	margin-left: -48px;
	margin-right: -75px;
}

/*------------Barre de navigation---------*/

.navbar{
	background-color: #212121;
	width: 100%;
	height:60px;
	position: fixed;
	margin-bottom: 0px;
	z-index: 1;
	margin-right: -5px;
}
a{
	color: #717981;
	text-decoration: none;
}
a:hover{
	color: #ffffff;
}
.navbar,ul{
	padding: 10px 0px 18px 0px;
	margin: -1px;
	margin-left: 32px;
}
li{
	list-style: none;
	display: inline;
	margin-right: 27px;
	margin-left: 15px;
}


/*----------------header------------------*/

header{
	width: 100%;
	height: 290px;
	background-color: #f2f2f2;
}
.section{
	margin-top: 68px;
	background-size: cover;
	line-height: 22px;
}
.imgheader{
	margin: 105px 50px 20px 475px ;
}
.textheader{
	text-align: center;
	padding-bottom: 50px;
}
.article{
	background-image: url("../images/mom-daughter.jpg");
	background-size: cover;
	max-width: 100%;
	min-height: 560px;
	margin-bottom: 20px;
}

/*-----------------footer----------------*/

footer{
	width: 100%;
	min-height: 429px;
	background-color: #ffffff;
	word-wrap: break-word;
	margin-left: -18px;
	margin-right: 0px;
}
.footer-widget-wrapper {
	min-height: 429px;
}
aside {
	width: 363px;
	min-height: 242px;
	text-align: left;
	padding-left: 20px;
	padding-right: 0px;
	line-height: 30px;
	margin-bottom: 50px;
	background-size: cover;
}
h4.double {
	width: 363px;
	border-bottom-style: double;
	line-height: 42px;
	margin-bottom: 22px;
}
.recent {
	min-height: 429px;
}
.instagram {
	min-height: 429px;
}
.instagram1{
	min-height: 429px;
}
.instagram2 {
	border: solid 2px black;
	min-height: 80px;
	text-align: center;
	margin-left: -35px;
	margin-right: -45px;
	padding-top: 60px;
	padding-bottom: 60px;
}
.icon {
	min-height: 97px;
	margin-left: -55px;
	margin-right: -55px;
	padding-top: 30px;
	padding-bottom: 15px;
	background-color: #212121;
}
.icon li {
	text-decoration: none;
	font-size: 16px;
	padding-right: 20px;
	padding-left: 25px;
}
.end {
	min-height: 80px;
	text-align: center;
	background-color: #212121;
	line-height: 82px;
	color: #717981;
	border-top: solid 2px #717981;
	margin-left: -55px;
	margin-right: -55px;
	padding-top: 50px;
	padding-bottom: 50px;
}