
/*--Description: Intégration d'une maquette avec bootstrap
Auteur: Jessica Anschutz et Jonathan Guillou
Date: Semaine 24--*/

/*------------ Organisation du CSS Challenge-03 ------------------------
00- Généralités 
01- Polices 
02- Barre de navigation
03- Header
04- Blocs d'articles 
05- Pagination
06- Footer 
---*/

/*-----------Généralités---------*/
html{
	width: 100%;
	-webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}

body{
	width: 100%;
	font-size:14px;
	font-family:'sans serif';
}

/*------------Polices---------*/

@font-face {
    font-family: "FontAwesome";
    src: url("../fonts/FontAwesome.otf");
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf"); /*Manque le lien pour les polices Lato et Playfairdisplay */
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url("../fonts/PlayfairDisplay-Bold.ttf");
}

/*------------Barre de navigation---------*/

.navbar{
	background-color: #212121;
	width: 100%;
	height:60px;
	position: fixed;
	z-index: 1;
}
a{
	color: #717981;
	text-decoration: none;
}
a:hover{
	color: #ffffff;
}
.navbar,ul{
	padding: 11px 5px 5px 5px;
	margin-left: -0.5px;
}
li{
	font-size:13px;
	list-style: none;
	display: inline;
	margin-right: -10px;
	margin-left: 55px;
}

/* .glyphicon {
	color:#999999;
	height: 58px;
    	font-size: 16px;
    	background: none;

} pour personnaliser le glyphicon search ? */ 

/*----------------Header------------------*/

header{
	width: 100%;
	height: 290px;
	background-color: #f2f2f2;
}
.section{
	margin-top: 68px;
	background-size: cover;
	line-height: 22px;
}
.imgheader{
	padding: 50px 400px 0px 450px;
}
.textheader{
	text-align: center;
	padding-bottom: 50px;
}
.article{
	background-image: url("../images/mom-daughter.jpg");
	background-size: cover;
	max-width: 100%;
	min-height: 560px;
	margin-bottom: 20px;
}

/*----------------- Blocs d'articles ----------------*/

.container {
	margin:0;
	padding:0;
}

.img-responsive {
  	/*display: block;
  	max-width: 100%; */
	width: 570px;
    	height: 380px;
	background-position:center;
	margin:0;
	padding:0;	
} 

.col-md-6 { 
	width: 570px;
	position: relative;
  	padding-right: 15px;
 	padding-left: 15px;	
} 

h3 a {
	font-family: 'Lato',serif; 
	text-align: center;
	font-size: 12px;
	color:#a60505;
	letter-spacing: 0.5px;
}

h2 a {
    	font-family:'Playfair Display',serif; 
    	text-align: center;
    	font-size: 18px;
    	color: #313131;
	letter-spacing: 1px;
	font-weight: bold;
}

h4 {
	font-family: 'Lato',serif; 
	text-align: center;
	font-style: italic;
	text-align: center;
	color:#DEDEDE;
	margin: 0 11px 0 15px;
	display: inline-block;
}

h4 span {
	font-family: 'Lato',serif;
 	font-style: italic;
 	font-size: 14px;
 	color: #313131;
}

p {
	font-family: 'Lato',serif;
 	color:#313131;
 	font-size: 14px;
	line-height: 28px;
        text-align: left;
}

hr {
	height: 1px;
    	background-color: #DEDEDE;
}

share {
	background-position: center bottom;
}



/*----------------- Pagination ----------------*/
.pagination {
  display: inline-block;
  padding-left: 0;
  border:1px;
  color: #888;
  text-align: center;
  line-height: 28px;
  height: 30px;
  font-size: 14px;
  font-weight: bold; 
}

.pagination .active  {
  z-index: 3;
  color: #fff;
  cursor: default;
  border:1px;
  background-color: #a60505;
  border-color: #a60505;
}

barre-separation {
 width: 100%;
 height: 1px;
 color: #DEDEDE;
 display: block;
 top: 49%;
}

/*-----------------Footer----------------*/

footer{
	width: 100%;
	min-height: 429px;
	background-color: #ffffff;
	word-wrap: break-word;
}
.footer-widget-wrapper {
	min-height: 429px;
}
aside {
	width: 363px;
	min-height: 242px;
	text-align: left;
	padding-left: 20px;
	padding-right: 0px;
	line-height: 30px;
	margin-bottom: 50px;
	background-size: cover;
}
h4.double {
	width: 363px;
	border-bottom-style: double;
	line-height: 42px;
	margin-bottom: 22px;
}
.recent {
	min-height: 429px;
}
.instagram {
	min-height: 429px;
}
.instagram1{
	min-height: 429px;
	margin-right: -10px;
	margin-left: 55px;
}
.instagram2 {
	border: solid 2px black;
	min-height: 80px;
	text-align: center;
	margin-left: -95px;
	margin-right: -95px;
	padding-top: 60px;
	padding-bottom: 60px;
}
.icon {
	min-height: 97px;
	margin-left: -95px;
	margin-right: -95px;
	padding-top: 30px;
	padding-bottom: 15px;
	background-color: #212121;
}
.icon li {
	text-decoration: none;
	font-size: 16px;
	margin-right: -25px;
	margin-left: 100px;
}
.end {
	min-height: 80px;
	text-align: center;
	background-color: #212121;
	line-height: 82px;
	color: #717981;
	border-top: solid 2px #717981;
	margin-left: -55px;
	margin-right: -55px;
	padding-top: 50px;
	padding-bottom: 50px;
}
